@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap'); */
/* body {
    font-family: 'Rokkitt', serif;
} */

@font-face {
    font-family: 'Roobert', sans-serif ;
    src: url(./fonts/Roobert-Regular.ttf);
}

body {
    font-family: 'Roobert', serif;
}