/* Centered text */
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vmax;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif, Helvetica;
    text-transform: capitalize;
    line-height: 100%;
    width: 90%;
}

@media (max-width: 950px) {
    .centered {
        font-size: 250%;
        /*width: 90%;*/
    }
}