

/* Centered text */
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vmax;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    line-height: 100%;
    width: 90%;
    margin-left: 15px;
}
#logoPreview {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .centered {
        font-size: 250%;
        /*width: 90%;*/
    }
    #logoPreview {
        width: 90%;
    }
}

